@page
@using System.Text.Json
@model NetCorePal.Extensions.YarpProxyStateUI.Pages.ProxyStateModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YarpProxyStateLookup</title>
    <link rel="stylesheet" href="/_static/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1">路由ID</div>
            <div class="col-md-5">路由配置</div>
            <div class="col-md-1">集群ID</div>
            <div class="col-md-5">集群配置</div>
        </div>
        @foreach (var route in Model.ProxyStateLookup.GetRoutes())
        {
            <div class="row">
                <div class="col-md-1">@route.Config.ClusterId</div>
                <div class="col-md-5">@JsonSerializer.Serialize(route.Config)</div>
                <div class="col-md-1">@route.Cluster?.ClusterId</div>
                <div class="col-md-5">@(route.Cluster != null ? JsonSerializer.Serialize(route.Cluster.Model.Config): "")</div>
            </div>
        }
    </div>
</body>
</html>

