@page
@using System.Text.Json
@model NetCorePal.Extensions.YarpProxyStateUI.Pages.ProxyStateModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YarpProxyStateLookup</title>
    <link rel="stylesheet" href="/_static/css/bootstrap.css" />
</head>
<body>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>路由ID</th>
                <th>路由配置</th>
                <th>集群ID</th>
                <th>集群配置</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.ProxyStateLookup.GetRoutes())
            {
                <tr>
                    <td>@route.Config.ClusterId</td>
                    <td><pre>@JsonSerializer.Serialize(route.Config, new JsonSerializerOptions { WriteIndented = true })</pre></td>
                    <td>@route.Cluster?.ClusterId</td>
                    <td><pre>@(route.Cluster != null ? JsonSerializer.Serialize(route.Cluster.Model.Config, new JsonSerializerOptions { WriteIndented = true }): "")</pre></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

